app/pug/modules/contacts.html

<div class="contacts-wrapper">
  <div class="container">
    <div class="contacts">
      <div class="offices-wrapper">
        <div class="office" data-aos="fade-up"><span class="city">Kiev</span>
          <p>Бессарабская площадь 5, <br/>офис 32</p>
          <p>Украина, Киев <br/>01001</p>
        </div>
        <div class="office" data-aos="fade-up"><span class="city">New York</span><strong>Sabo Dmitry</strong><strong>+1 917-651-1533</strong>
          <p>19W 21 st St, New York, NY</p>
          <p>sabodima@gmail.com</p>
        </div>
      </div>
      <div class="connect_us">
        <h2 data-aos="fade-up">Свяжитесь с нами</h2><a class="number" href="tel:+380930530831" data-aos="fade-up" data-aos-delay="100">+38 (093) 05 30 831</a><a class="email" href="mailto:looksgreat.studio@gmail.com" data-aos="fade-up" data-aos-delay="200">looksgreat.studio@gmail.com</a><a class="wrote mobile" href="mailto:looksgreat.studio@gmail.com">Написать</a>
        <div class="color_social">
          <ul>
            <li class="tag_item" data-aos="fade-up" data-aos-delay="200"><a class="behance" href="#">behance</a></li>
            <li class="tag_item" data-aos="fade-up" data-aos-delay="250"><a class="dribbble" href="#">dribbble</a></li>
            <li class="tag_item" data-aos="fade-up" data-aos-delay="300"><a class="facebook" href="#">facebook</a></li>
            <li class="tag_item" data-aos="fade-up" data-aos-delay="350"><a class="instagram" href="#">instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

src/pug/modules/contacts.pug
.contacts-wrapper
	.container
		.contacts
			.offices-wrapper
				div.office(data-aos="fade-up")
					span.city Kiev
					p Бессарабская площадь 5, 
						br
						| офис 32
					p Украина, Киев 
						br
						| 01001
				div.office(data-aos="fade-up")
					span.city New York
					strong Sabo Dmitry
					strong +1 917-651-1533
					p 19W 21 st St, New York, NY
					p sabodima@gmail.com
			.connect_us
				h2(data-aos="fade-up") Свяжитесь с нами
				a.number(href="tel:+380930530831" data-aos="fade-up" data-aos-delay="100") +38 (093) 05 30 831
				a.email(href="mailto:looksgreat.studio@gmail.com" data-aos="fade-up" data-aos-delay="200") looksgreat.studio@gmail.com
				a.wrote.mobile(href="mailto:looksgreat.studio@gmail.com") Написать
				.color_social
					ul
						- var list_tags = ["behance", "dribbble", "facebook", "instagram"]
							for item, i in list_tags 
								li.tag_item(data-aos="fade-up" data-aos-delay=i*50+200)
									a(class=item, href="#") #{item}
