app/pug/modules/contacts_mobile.html

<div class="connect_us mobile">
  <h2 data-aos="fade-up">Свяжитесь с нами</h2><a class="number" href="tel:+380930530831">+38 (093) 05 30 831</a><a class="email" href="mailto:looksgreat.studio@gmail.com">looksgreat.studio@gmail.com</a><a class="wrote" href="mailto:looksgreat.studio@gmail.com">Написать</a>
  <div class="color_social">
    <ul>
      <li class="tag_item" data-aos="fade-up" data-aos-delay="200"><a class="behance" href="#">behance</a></li>
      <li class="tag_item" data-aos="fade-up" data-aos-delay="250"><a class="dribbble" href="#">dribbble</a></li>
      <li class="tag_item" data-aos="fade-up" data-aos-delay="300"><a class="facebook" href="#">facebook</a></li>
      <li class="tag_item" data-aos="fade-up" data-aos-delay="350"><a class="instagram" href="#">instagram</a></li>
    </ul>
  </div>
</div>

src/pug/modules/contacts_mobile.pug
.connect_us.mobile
	h2(data-aos="fade-up") Свяжитесь с нами
	a.number(href="tel:+380930530831") +38 (093) 05 30 831
	a.email(href="mailto:looksgreat.studio@gmail.com") looksgreat.studio@gmail.com
	a.wrote(href="mailto:looksgreat.studio@gmail.com") Написать
	.color_social
		ul
			- var list_tags = ["behance", "dribbble", "facebook", "instagram"]
				for item, i in list_tags 
					li.tag_item(data-aos="fade-up" data-aos-delay=i*50+200)
						a(class=item, href="#") #{item}
