app/pug/modules/filter_tags.html

<div class="filter-wrapper">
  <div class="container">
    <div class="filter">
      <ul>
        <li class="tag_item" data-aos="fade-up" data-aos-delay="200"><a href="#">latest</a></li>
        <li class="tag_item" data-aos="fade-up" data-aos-delay="250"><a href="#">identity</a></li>
        <li class="tag_item" data-aos="fade-up" data-aos-delay="300"><a href="#">posters</a></li>
        <li class="tag_item" data-aos="fade-up" data-aos-delay="350"><a href="#">packing</a></li>
        <li class="tag_item" data-aos="fade-up" data-aos-delay="400"><a href="#">catalog</a></li>
        <li class="tag_item" data-aos="fade-up" data-aos-delay="450"><a href="#">logo</a></li>
        <li class="tag_item" data-aos="fade-up" data-aos-delay="500"><a href="#">WEB</a></li>
        <li class="tag_item" data-aos="fade-up" data-aos-delay="550"><a href="#">cards</a></li>
      </ul>
    </div>
  </div>
</div>

src/pug/modules/filter_tags.pug
.filter-wrapper
	.container
		.filter
			ul
				- var list_tags = ["latest", "identity", "posters", "packing", "catalog", "logo", "WEB", "cards"]
					for item, i in list_tags 
						li.tag_item(data-aos="fade-up" data-aos-delay=i*50+200)
							a(href="#") #{item}
