app/pug/modules/form.html

<div class="form-wrapper">
  <div class="container">
    <div class="form">
      <h2 data-aos="fade-up">Мы перезвоним</h2>
      <form action="" method="">
        <fieldset class="input_field" data-aos="fade-up">
          <input class="phone" type="phone" name="phone" autocomplete="off" placeholder="+380 (__) __ __ ___"/>
        </fieldset>
        <fieldset class="button_field" data-aos="fade-up">
          <button type="submit">Связаться</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>

src/pug/modules/form.pug
.form-wrapper
	.container
		.form
			h2(data-aos="fade-up") Мы перезвоним
			form(action='', method='')
				fieldset.input_field(data-aos="fade-up")
					input.phone(type="phone", name="phone",autocomplete="off",placeholder="+380 (__) __ __ ___")
				fieldset.button_field(data-aos="fade-up")
					button(type="submit") Связаться
