app/pug/modules/project_module.html

<div class="project_module-wrapper">
  <div class="container">
    <div class="project_module">
      <h2 data-aos="fade-up" data-aos-delay="0">BAU Comfort</h2>
      <p class="short" data-aos="fade-up" data-aos-delay="100">Простота - это залог успеха. Чтобы достичь простот нужно, изучить все глубины сложности. Руководствуясь этим правилом в дизайне можно достичь невероятных результатов</p>
      <div class="long_image" data-aos="fade-up" data-aos-delay="100">
        <figure class="figure_full"><img src="" alt=""/></figure>
      </div>
      <h3 data-aos="fade-up" data-aos-delay="0">Логотип</h3>
      <p data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. </p>
      <div class="long_image" data-aos="fade-up" data-aos-delay="100">
        <figure class="figure_full"><img src="" alt=""/></figure>
      </div>
      <div class="short_images">
        <figure class="figure_half" data-aos="fade-up" data-aos-delay="0"><img src="" alt=""/></figure>
        <figure class="figure_half" data-aos="fade-up" data-aos-delay="0"><img src="" alt=""/></figure>
      </div>
      <h3 data-aos="fade-up" data-aos-delay="0">Использование</h3>
      <p data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. </p>
      <div class="long_image" data-aos="fade-up" data-aos-delay="100">
        <figure class="figure_full"><img src="" alt=""/></figure>
      </div>
    </div>
  </div>
</div>

src/pug/modules/project_module.pug
.project_module-wrapper
	.container
		.project_module
			h2(data-aos="fade-up" data-aos-delay="0") BAU Comfort
			p.short(data-aos="fade-up" data-aos-delay="100") Простота - это залог успеха. Чтобы достичь простот нужно, изучить все глубины сложности. Руководствуясь этим правилом в дизайне можно достичь невероятных результатов
			.long_image(data-aos="fade-up" data-aos-delay="100")
				figure.figure_full
					img(src="", alt="")
			h3(data-aos="fade-up" data-aos-delay="0") Логотип
			p(data-aos="fade-up" data-aos-delay="100") Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. 
			.long_image(data-aos="fade-up" data-aos-delay="100")
				figure.figure_full
					img(src="", alt="")
			.short_images
				figure(data-aos="fade-up" data-aos-delay="0").figure_half
					img(src="", alt="")
				figure(data-aos="fade-up" data-aos-delay="0").figure_half
					img(src="", alt="")
			h3(data-aos="fade-up" data-aos-delay="0") Использование
			p(data-aos="fade-up" data-aos-delay="100") Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. 
			.long_image(data-aos="fade-up" data-aos-delay="100")
				figure.figure_full
					img(src="", alt="")
