app/pug/modules/projects.html

<div class="projects-wrapper">
  <div class="container">
    <div class="projects">
      <div class="project" data-aos="fade-up"> <a href="">
          <figure><img class="shadow" src="../img/project1.jpg"/></figure>
          <h3>BAU Comfort</h3>
          <p>&quot;Будівельна компанія з німецьким характером&quot;</p></a></div>
      <div class="project" data-aos="fade-up"> <a href="">
          <figure><img class="shadow" src="../img/project2.jpg"/></figure>
          <h3>Vetiv</h3>
          <p>&quot;Когда все сделано правильно&quot;</p></a></div>
      <div class="project" data-aos="fade-up"> <a href="">
          <figure><img class="shadow" src="../img/project3.jpg"/></figure>
          <h3>Височанка</h3>
          <p>&quot;Хлібопекарня калуська&quot;</p></a></div>
      <div class="project" data-aos="fade-up"> <a href="">
          <figure><img class="shadow" src="../img/project4.jpg"/></figure>
          <h3>Things for life</h3>
          <p>&quot;Когда все сделано правильно&quot;</p></a></div>
      <div class="project" data-aos="fade-up"> <a href="">
          <figure><img class="shadow" src="../img/project5.jpg"/></figure>
          <h3>Alekom</h3>
          <p>&quot;Education Abroad&quot;</p></a></div>
      <div class="project" data-aos="fade-up"> <a href="">
          <figure><img class="shadow" src="../img/project6.jpg"/></figure>
          <h3>Peanut</h3>
          <p>&quot;Made by squirell&quot;</p></a></div>
      <div class="project" data-aos="fade-up"> <a href="">
          <figure><img class="shadow" src="../img/project7.jpg"/></figure>
          <h3>Intensys</h3>
          <p>&quot;IT Addiction&quot;</p></a></div>
      <div class="project" data-aos="fade-up"> <a href="">
          <figure><img class="shadow" src="../img/project8.jpg"/></figure>
          <h3>Franko Smart House</h3>
          <p>&quot;Житловий комплекс&quot;</p></a></div>
    </div>
  </div>
</div>

src/pug/modules/projects.pug
-var projects_list = [{img:'../img/project1.jpg',name:'BAU Comfort', description:'"Будівельна компанія з німецьким характером"'}, {img:'../img/project2.jpg',name:'Vetiv', description:'"Когда все сделано правильно"'}, {img:'../img/project3.jpg',name:'Височанка', description:'"Хлібопекарня калуська"'}, {img:'../img/project4.jpg',name:'Things for life', description:'"Когда все сделано правильно"'}, {img:'../img/project5.jpg',name:'Alekom', description:'"Education Abroad"'}, {img:'../img/project6.jpg',name:'Peanut', description:'"Made by squirell"'}, {img:'../img/project7.jpg',name:'Intensys', description:'"IT Addiction"'}, {img:'../img/project8.jpg',name:'Franko Smart House', description:'"Житловий комплекс"'},]
mixin add_project(project)
	.project(data-aos="fade-up") 
		a(href="")
			figure
				img.shadow(src=project.img)
			h3= project.name
			p= project.description

.projects-wrapper
	.container
		.projects
			each item in projects_list
				+add_project(item)
