src/pug/modules/seven_sky_module.pug
.project_module_banner(data-aos="fade-up" data-aos-delay="0")
    img(src="../img/girl_banner.jpg")
.project_module-wrapper
    .container
        .project_module
            h3(data-aos="fade-up" data-aos-delay="0") Новий брендинг
            p(data-aos="fade-up" data-aos-delay="100")
                span Покликання брендингу донести до відвідувачів та потенційних клієнтів увагу якість як в наданні послуг, так і в усіх сфер діяльності,
                span Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
                    br
                    | rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                    | Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
                    | consequat vitae, eleifend ac, enim.
            .long_image(data-aos="fade-up" data-aos-delay="100")
                figure.figure_full(style="background-color: #eecabe;")
                    img.absolutely.scissors#scissors(src="../img/scissors.png", alt="")
            .short_images
                figure.figure_half(data-aos="fade-up" data-aos-delay="0" style="background-color: #e4f4f3;")
                    img(src="", alt="")
                figure.figure_half(data-aos="fade-up" data-aos-delay="0" style="background-color: #4a3d46;")
                    img(src="", alt="")
            h3(data-aos="fade-up" data-aos-delay="0") Использование
            p(data-aos="fade-up" data-aos-delay="100") Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
            .long_image(data-aos="fade-up" data-aos-delay="100")
                figure.figure_full
                    img(src="", alt="")

app/pug/modules/seven_sky_module.html

<div class="project_module_banner" data-aos="fade-up" data-aos-delay="0"><img src="../img/girl_banner.jpg"/></div>
<div class="project_module-wrapper">
  <div class="container">
    <div class="project_module">
      <h3 data-aos="fade-up" data-aos-delay="0">Новий брендинг</h3>
      <p data-aos="fade-up" data-aos-delay="100"><span>Покликання брендингу донести до відвідувачів та потенційних клієнтів увагу якість як в наданні послуг, так і в усіх сфер діяльності,</span><span>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,<br/>rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
          Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu,
          consequat vitae, eleifend ac, enim.</span></p>
      <div class="long_image" data-aos="fade-up" data-aos-delay="100">
        <figure class="figure_full" style="background-color: #eecabe;"><img class="absolutely scissors" id="scissors" src="../img/scissors.png" alt=""/></figure>
      </div>
      <div class="short_images">
        <figure class="figure_half" data-aos="fade-up" data-aos-delay="0" style="background-color: #e4f4f3;"><img src="" alt=""/></figure>
        <figure class="figure_half" data-aos="fade-up" data-aos-delay="0" style="background-color: #4a3d46;"><img src="" alt=""/></figure>
      </div>
      <h3 data-aos="fade-up" data-aos-delay="0">Использование</h3>
      <p data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
      <div class="long_image" data-aos="fade-up" data-aos-delay="100">
        <figure class="figure_full"><img src="" alt=""/></figure>
      </div>
    </div>
  </div>
</div>
