app/pug/modules/tags.html

<div class="tags-wrapper">
  <div class="container">
    <div class="tags">
      <h2 data-aos="fade-up">Теги</h2>
      <ul class="tags_projects" data-aos="fade-up">
        <li class="tag_item"><a class="nav__link" href="#">Брендинг</a></li>
        <li class="tag_item"><a class="nav__link" href="#">Другое</a></li>
        <li class="tag_item"><a class="nav__link" href="#">WEB Дизайн</a></li>
      </ul><a class="all_projects" href="#" data-aos="fade-up">Все работы</a>
    </div>
  </div>
</div>

src/pug/modules/tags.pug
.tags-wrapper
	.container
		.tags
			h2(data-aos="fade-up") Теги
			ul.tags_projects(data-aos="fade-up")
				- var list_tags = ["Брендинг", "Другое", "WEB Дизайн"]
					for item, i in list_tags 
						li.tag_item
							a(href="#").nav__link #{item}
			a(href="#", data-aos="fade-up").all_projects Все работы
