src/pug/modules/workers.pug
.workers-wrapper
	.container
		.workers
			.worker
				.number(data-aos="fade-up", data-aos-delay="400")
					span 
						p 01
				.img_wrapper(data-aos="fade-up")
					figure
						img(src="../img/pavel.jpg", alt="")
				.worker_info(data-aos="fade-up")
					h3 Павел 
						br
						| Пранничук
					p CEO
					p Chief designer
					p Kiev
			.worker
				.number(data-aos="fade-up", data-aos-delay="400")
					span 
						p 02
				.img_wrapper(data-aos="fade-up")
					figure
						img(src="../img/dima.jpg", alt="")
				.worker_info(data-aos="fade-up")
					h3 Дима 
						br
						| Сабо
					p Advertising and management
					p New York
			.worker
				.number(data-aos="fade-up", data-aos-delay="400")
					span 
						p 03
				.img_wrapper(data-aos="fade-up")
					figure
				.worker_info(data-aos="fade-up")
					h3 Павел 
						br
						| Пранничук
					p Lorem ipsum dolor sit amet, consectetuer.Cum sociis natoque penatibus et magnis montes,nascetur ridiculus mus.

app/pug/modules/workers.html

<div class="workers-wrapper">
  <div class="container">
    <div class="workers">
      <div class="worker">
        <div class="number" data-aos="fade-up" data-aos-delay="400"><span> 
            <p>01</p></span></div>
        <div class="img_wrapper" data-aos="fade-up">
          <figure><img src="../img/pavel.jpg" alt=""/></figure>
        </div>
        <div class="worker_info" data-aos="fade-up">
          <h3>Павел <br/>Пранничук</h3>
          <p>CEO</p>
          <p>Chief designer</p>
          <p>Kiev</p>
        </div>
      </div>
      <div class="worker">
        <div class="number" data-aos="fade-up" data-aos-delay="400"><span> 
            <p>02</p></span></div>
        <div class="img_wrapper" data-aos="fade-up">
          <figure><img src="../img/dima.jpg" alt=""/></figure>
        </div>
        <div class="worker_info" data-aos="fade-up">
          <h3>Дима <br/>Сабо</h3>
          <p>Advertising and management</p>
          <p>New York</p>
        </div>
      </div>
      <div class="worker">
        <div class="number" data-aos="fade-up" data-aos-delay="400"><span> 
            <p>03</p></span></div>
        <div class="img_wrapper" data-aos="fade-up">
          <figure></figure>
        </div>
        <div class="worker_info" data-aos="fade-up">
          <h3>Павел <br/>Пранничук</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer.Cum sociis natoque penatibus et magnis montes,nascetur ridiculus mus.</p>
        </div>
      </div>
    </div>
  </div>
</div>
