src/pug/frontpage/share_menu.pug
button.menu_button
	span
.share_menu
	div.left_menu

		ul
			- var navs = ["Работы", "О студии", "Контакты"]
				for item, i in navs 
					li.nav_item
						a(href="#").nav__link #{item}
		.logo
			a(href="")
				include ../../img/logo_short.svg
	.share_button(data-aos="fade-right" data-aos-delay="50")
		a(href="javascript:;" data-fancybox data-src="#trueModal" data-modal="true") Share
	.behance_share(data-aos="fade-right" data-aos-delay="150")
		a(href="#")
			i.fab.fa-behance
	.logo_share(data-aos="fade-right" data-aos-delay="250")
		a(href="#")
			include ../../img/logo.svg
#trueModal.fancybox-content(style="display:none;")
	button.close(data-fancybox-close) 
		i.fal.fa-times
	.modal_content
		.content_wrapper
			button.facebook
				i.fab.fa-facebook-f
				span Facebook
			button.twitter
				i.fab.fa-twitter
				span Facebook
			.copy_block
				input#copy_field(type="text" value="https://youtu.be/j_npZfZmRiM")
				button#copy_button(data-clipboard-target="#copy_field") Скопировать

app/pug/frontpage/share_menu.html

<button class="menu_button"><span></span></button>
<div class="share_menu">
  <div class="left_menu">
    <ul>
      <li class="nav_item"><a class="nav__link" href="#">Работы</a></li>
      <li class="nav_item"><a class="nav__link" href="#">О студии</a></li>
      <li class="nav_item"><a class="nav__link" href="#">Контакты</a></li>
    </ul>
    <div class="logo"><a href=""><svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 264.03 101.42"><defs><style>.cls-1{}</style></defs><title>Studio</title><path class="cls-1" d="M153.59,28.22H69a36.6,36.6,0,0,0,0,73.2h84.63A36.6,36.6,0,0,0,153.59,28.22ZM171,64.82A17.39,17.39,0,0,1,153.59,82.2H69a17.37,17.37,0,0,1,0-34.75h84.63A17.39,17.39,0,0,1,171,64.82Z"/><rect class="cls-1" width="20.03" height="100.43"/><polygon class="cls-1" points="227.91 64.77 263.81 28.86 235.49 28.86 213.75 50.6 213.74 50.58 199.58 64.77 199.58 64.77 199.58 64.77 202.01 67.2 235.7 100.94 264.03 100.94 227.91 64.77"/></svg></a></div>
  </div>
  <div class="share_button" data-aos="fade-right" data-aos-delay="50"><a href="javascript:;" data-fancybox="data-fancybox" data-src="#trueModal" data-modal="true">Share</a></div>
  <div class="behance_share" data-aos="fade-right" data-aos-delay="150"><a href="#"><i class="fab fa-behance"></i></a></div>
  <div class="logo_share" data-aos="fade-right" data-aos-delay="250"><a href="#"><?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   viewBox="0 0 217.62132 42.063866"
   xml:space="preserve"
   id="svg2"
   version="1.1"><metadata
     id="metadata8"><rdf:RDF><cc:Work
         rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" /><dc:title></dc:title></cc:Work></rdf:RDF></metadata><defs
     id="defs6"><clipPath
       id="clipPath18"
       clipPathUnits="userSpaceOnUse"><path
         id="path16"
         d="M 0,31.548 H 163.216 V 0 H 0 Z" /></clipPath></defs><g
     transform="matrix(1.3333333,0,0,-1.3333333,0,42.063867)"
     id="g10"><g
       id="g12"><g
         clip-path="url(#clipPath18)"
         id="g14"><g
           transform="translate(159.7417,16.3276)"
           id="g20"><path
             id="path22"
             style="fill-opacity:1;fill-rule:nonzero;stroke:none"
             d="M 0,0 V 5.528 H 3.037 V 9.46 H 0 v 5.76 H -3.932 V 9.46 H -6.969 V 5.528 h 3.037 V 0 c 0,-4.084 3.322,-7.406 7.406,-7.406 v 3.932 C 1.559,-3.474 0,-1.916 0,0" /></g><g
           transform="translate(4.7017,31.126)"
           id="g24"><path
             id="path26"
             style="fill-opacity:1;fill-rule:nonzero;stroke:none"
             d="m 0,0 h -4.702 v -21.461 h 15.19 v 4.039 l -10.488,0 z" /></g><g
           transform="translate(67.3003,25.7148)"
           id="g28"><path
             id="path30"
             style="fill-opacity:1;fill-rule:nonzero;stroke:none"
             d="m 0,0 -5.041,-0.008 -5.974,-6.065 V 5.411 h -4.189 V -16.05 h 4.189 v 5.275 l 1.748,1.628 4.28,-6.903 h 5.184 l -6.54,9.796 z" /></g><g
           transform="translate(76.3857,19.3101)"
           id="g32"><path
             id="path34"
             style="fill-opacity:1;fill-rule:nonzero;stroke:none"
             d="m 0,0 c -2.471,0.513 -3.797,0.693 -3.797,1.99 0,0.964 0.903,1.537 2.411,1.537 1.718,0 2.712,-0.512 2.953,-2.14 h 3.978 c -0.12,3.617 -3.134,5.214 -6.69,5.214 -4.34,0 -6.872,-1.959 -6.872,-5.003 0,-3.708 3.617,-4.13 6.39,-4.763 2.23,-0.512 3.496,-0.753 3.496,-2.08 0,-1.175 -1.085,-1.929 -2.833,-1.929 -1.959,0 -3.165,0.724 -3.316,2.592 h -4.069 c 0.061,-3.978 3.406,-5.516 7.294,-5.516 4.43,0 7.113,2.02 7.113,5.275 C 6.058,-1.296 2.803,-0.572 0,0" /></g><g
           transform="translate(108.8027,23.7612)"
           id="g36"><path
             id="path38"
             style="fill-opacity:1;fill-rule:nonzero;stroke:none"
             d="m 0,0 v 2.15 h -4.069 v -16.46 h 4.28 v 6.775 c 0,2.833 1.145,5.283 4.099,5.283 0.482,0 1.657,0.006 1.657,0.006 V 2.15 C 2.693,2.237 0.949,1.256 0,0" /></g><g
           transform="translate(42.4668,13.6235)"
           id="g40"><path
             id="path42"
             style="fill-opacity:1;fill-rule:nonzero;stroke:none"
             d="m 0,0 h -18.172 c -2.057,0 -3.73,1.673 -3.73,3.73 0,2.058 1.673,3.731 3.73,3.731 H 0 C 2.057,7.461 3.73,5.788 3.73,3.73 3.73,1.673 2.057,0 0,0 m 0,11.59 h -18.172 c -4.333,0 -7.859,-3.526 -7.859,-7.86 0,-4.333 3.526,-7.858 7.859,-7.858 H 0 c 4.333,0 7.859,3.525 7.859,7.858 0,4.334 -3.526,7.86 -7.859,7.86" /></g><g
           transform="translate(123.8232,22.0737)"
           id="g44"><path
             id="path46"
             style="fill-opacity:1;fill-rule:nonzero;stroke:none"
             d="M 0,0 C 1.866,0 3.468,-1.115 4.202,-2.709 H -4.201 C -3.468,-1.115 -1.866,0 0,0 m 0,3.846 c -4.675,0 -8.479,-3.803 -8.479,-8.478 0,-4.676 3.804,-8.479 8.479,-8.479 2.864,0 5.514,1.43 7.089,3.826 L 3.875,-7.172 C 3.014,-8.482 1.565,-9.265 0,-9.265 c -1.866,0 -3.468,1.116 -4.201,2.709 H 8.471 v 1.924 H 8.479 C 8.479,0.043 4.675,3.846 0,3.846" /></g><g
           transform="translate(93.3794,3.9316)"
           id="g48"><path
             id="path50"
             style="fill-opacity:1;fill-rule:nonzero;stroke:none"
             d="m 0,0 c -2.531,0 -4.589,2.059 -4.589,4.589 h -3.932 c 0,-4.698 3.822,-8.521 8.521,-8.521 4.699,0 8.521,3.823 8.521,8.521 H 4.589 C 4.589,2.059 2.53,0 0,0" /></g><g
           transform="translate(93.3794,12.8521)"
           id="g52"><path
             id="path54"
             style="fill-opacity:1;fill-rule:nonzero;stroke:none"
             d="m 0,0 c -2.531,0 -4.589,2.059 -4.589,4.589 0,2.531 2.058,4.59 4.589,4.59 2.456,0 4.452,-1.945 4.567,-4.373 V 4.373 C 4.452,1.944 2.456,0 0,0 M 8.5,13.067 H 4.567 v -1.296 c -1.321,0.844 -2.886,1.34 -4.567,1.34 -4.699,0 -8.521,-3.823 -8.521,-8.522 0,-4.698 3.822,-8.521 8.521,-8.521 4.344,0 7.933,3.27 8.451,7.477 H 8.5 v 0.612 c 0.007,0.144 0.021,0.286 0.021,0.432 0,0.146 -0.014,0.289 -0.021,0.433 z" /></g><g
           transform="translate(142.7578,12.8521)"
           id="g56"><path
             id="path58"
             style="fill-opacity:1;fill-rule:nonzero;stroke:none"
             d="m 0,0 c -2.531,0 -4.589,2.059 -4.589,4.589 0,2.531 2.058,4.59 4.589,4.59 2.531,0 4.589,-2.059 4.589,-4.59 C 4.589,2.059 2.531,0 0,0 M 4.589,11.758 C 3.263,12.61 1.69,13.111 0,13.111 c -4.699,0 -8.521,-3.823 -8.521,-8.522 0,-4.698 3.822,-8.521 8.521,-8.521 1.69,0 3.263,0.501 4.589,1.353 v -1.025 h 3.932 v 16.52 H 4.589 Z" /></g></g></g></g></svg></a></div>
</div>
<div class="fancybox-content" id="trueModal" style="display:none;">
  <button class="close" data-fancybox-close="data-fancybox-close"> <i class="fal fa-times"></i></button>
  <div class="modal_content">
    <div class="content_wrapper">
      <button class="facebook"><i class="fab fa-facebook-f"></i><span>Facebook</span></button>
      <button class="twitter"><i class="fab fa-twitter"></i><span>Facebook</span></button>
      <div class="copy_block">
        <input id="copy_field" type="text" value="https://youtu.be/j_npZfZmRiM"/>
        <button id="copy_button" data-clipboard-target="#copy_field">Скопировать</button>
      </div>
    </div>
  </div>
</div>
